
  body{
   
  }
section{
  
   display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    background-color: rgb(243, 247, 249);
}
   

.box{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(96, 12, 243);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 1s ease;
}

.box:hover{
    transform: scale(1.1);
    width: 100px;
}